/* @font-face {
  font-family: "Karrik";
  src: url(Fonts/Karrik-Regular.ttf);

} */




*{
 
    /* font-family: "Karrik", mono; */
    font-family: "wanpaku-rera", sans-serif;
      color: rgb(39, 36, 36);
      box-sizing: border-box;
        overflow-x: hidden;
   
} 






 #header{ /* parent */
  height: fit-content;
  border: solid 0.1em rgb(39, 36, 36);;
}

.indexTitle{
    display: inline-flex;
    font-size: 3em;
     height: 1.5em;

}


.links{
    display: inline-flex;
    font-size: 2em;
    float: right;
    padding: 0;
    padding-top: 0.2em;
    color: rgb(39, 36, 36);

}

.socials{

 width: 100%;
 padding: 0.5em;
 border-top: 0.1em solid rgb(39, 36, 36);;
}


  a{
    padding: 0;
    text-decoration: none;
  }

  a.nav{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

/* if screen < x change padding to bigger number to make it easier for touchscreen */

  a.handles{
    padding-left: 0.2em;
    padding-right: 0.2em;
  
  }

  a:active {
    color: inherit;
  }

  a:hover {
   color: inherit;
  }

  a:visited {
    color: inherit;
  } 


/* footer{
  position: fixed;
  bottom: 0;
} */


.img-grid-archive {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3em;
  column-gap: 1em;
  justify-content: center;
  padding-top: 3em;


}

figcaption {
  position: sticky;
}

/* .Projects{

} */


figcaption.projectName {
  font-size: 1.2em;
}

figcaption.tag {
  font-size: 0.9em;
  opacity: 60%;
  padding-left: 0.2em;
}

.item {
  color: black;

}


img {
 
  object-fit: cover;
}

img.projectImg {
  border-radius: 0.25em;
 
}

.about{
float: right;
padding-right: 2em;
padding-top: 5em;
font-size: 1.2em;
}

.aboutImg1 {
display: inline;
margin-top: 100px;
}


a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);

}

a.item:hover {
  color: #000;

}

a.tag {
  padding-top: -5px;
}


a.topelements {
  display: inline-block;
  padding-right: 25px;
}

a.artistshow {
  padding-left: 200px;

}

a:visited {
  color: black;
  background-color: white;
}

a:hover {
  background-color: white;
  text-decoration: #000 underline solid;
}

a:active {
  text-decoration: #000 underline solid;
  background-color: white;
}




.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}






/* make footer relative to each page, e.g not on home page as scroll is not enough on y axis
footer {
  position:bottom;
} */