@font-face {
  font-family: "Karrik";
  src: url(Fonts/Karrik-Regular.ttf);

}




*{
    margin: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "Karrik", mono;
      color: rgb(39, 36, 36);
   
} 



 #header{ /* parent */
  height: fit-content;
}

.indexTitle{
    display: inline-flex;
    font-size: 3em;
}


.links{
    display: inline-flex;
    font-size: 2em;
    float: right;
    padding: 0;
}

.socials{
    padding-left: 2em;
    width: fit-content;
}


  a{
    padding: 0;
    text-decoration: none;

  }

  a:active {
    color: inherit;
  }

  a:hover {
   color: inherit;
  }

  a:visited {
    color: inherit;
  } 


footer{
  position: fixed;
  bottom: 0;
}