/* General Styles */
* {
    font-family: "wanpaku-rera", sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header {
    border: solid 0.1em rgb(39, 36, 36);
}

.indexTitle {
    display: inline-flex;
    font-size: 3em;
    height: 1.5em;
    color: rgb(39, 36, 36);
}

.links {
    display: inline-flex;
    font-size: 2em;
    float: right;
    padding: 0;
    padding-top: 0.2em;
    color: rgb(39, 36, 36);
}

.socials {
    width: 100%;
    padding: 0.5em;
    border-top: 0.1em solid rgb(39, 36, 36);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.socials svg {
    margin-right: 1em;
}

#darkModeToggle {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0.5em;
    font-size: 1em;
    cursor: pointer;
    margin-left: auto;
}

#darkModeToggle:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode #header {
    border-color: white;
}

body.dark-mode .indexTitle,
body.dark-mode .links,
body.dark-mode .socials,
body.dark-mode figcaption.projectName,
body.dark-mode figcaption.tag {
    color: white;
}

body.dark-mode .socials {
    border-top-color: white;
}

body.dark-mode .socials svg {
    fill: white;
    color: white;
}

body.dark-mode #darkModeToggle {
    border: 2px solid white;
    color: white;
}

body.dark-mode #darkModeToggle:hover {
    background-color: white;
    color: black;
}

body.dark-mode a {
    color: white !important;
}

body.dark-mode a:hover,
body.dark-mode a:active,
body.dark-mode a:visited {
    color: white !important;
    text-decoration: underline solid white;
}

/* Masonry Grid Layout */
.img-grid-archive {
    column-count: 3;
    column-gap: 1em;
    padding-top: 1em;
}

.img-grid-archive figure {
    display: inline-block;
    width: 100%;
    margin: 0 0 1em;
    break-inside: avoid;
}

img.projectImg {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.25em;
    object-fit: cover;
    padding-top: 1em;
}

figcaption {
    position: relative;
    margin: 0;
    padding: 0.3em 0;
}

figcaption.projectName {
    font-size: 1.2em;
    color: rgb(39, 36, 36);
    padding-top: 0.5em;
}

figcaption.tag {
    font-size: 0.9em;
    opacity: 60%;
    padding-left: 0.2em;
    color: rgb(39, 36, 36);
}

/* Anchor Styling */
a {
    padding: 0;
    text-decoration: none;
    color: rgb(39, 36, 36);
}

a.nav {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

a.handles {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

a:active, a:visited {
    color: rgb(39, 36, 36);
}

a:hover {
    text-decoration: underline solid black;
}

a:active {
    text-decoration: underline solid black;
}

a:visited {
    color: rgb(39, 36, 36) !important;
    background-color: white;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .img-grid-archive {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .img-grid-archive {
        column-count: 1;
    }
}

#info{
    padding: 10vh;
    font-size: 1.5vw;
    border-bottom: solid 0.1em rgb(39, 36, 36);
}

#about {
    float: left;
    width: 48%;
    margin-right: 2%;
}

#bio {
    float: right;
    width: 48%;
}

