#container {
    display: flex;
    align-items: flex-start;
   
   
}

#mc{
    font-size: 4vw;
    text-align: center;
    border: solid;

}

#about{
    margin-top: 10vh;
    background-color: #e06f8e;
    color: #000000;
    font-size: 2vw;
    border-radius: 10px;
    padding-top: 1vh;
        padding-bottom: 1vh;
}



#data {
    margin-top: 2vh;
        background-color: #e06f8e;
            color: #000000;
            font-size: 2vw;
            border-radius: 10px;
            padding-top: 1vh;
                padding-bottom: 1vh;
}

#donate {
    margin-top: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #e06f8e;
    color: #000000;
    font-size: 2vw;
    border-radius: 10px;
}

a{
    text-decoration: none;
}
a:visited{
color: black
}

a:hover{
color: black
}

a:active{
    color: #000000;
}

a:link{
    color: #000000;
}



#sideBar{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    color: #e06f8e;
    font-size: 2vw;
    text-align: center;
    width: 35vh;
    background-color: #000000;
    font-family: "menco", sans-serif;
        font-weight: 500;
        font-style: normal;
        border: solid;
        border-color: #e06f8e;

            min-height: 100vh;
            max-height: 100vh;

}

body{
   background-color: #000000;
}



#map{
   
    margin: 50px;
    top: 5vh;
    height: 80vh;
    width: 80vw;
}